:host {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 4px;
}

:host:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

:host:first-of-type:hover {
  box-shadow: rgba(252, 1, 1, 0.25) 0px 25px 50px -1px;
}

:host:first-of-type {
  box-shadow: rgb(252, 1, 1, 0.07) 0px 1px 2px, rgb(252, 1, 1, 0.07) 0px 2px 4px, rgb(252, 1, 1, 0.07) 0px 4px 8px, rgb(252, 1, 1, 0.07) 0px 8px 16px, rgb(252, 1, 1, 0.07) 0px 16px 32px, rgb(252, 1, 1, 0.07) 0px 32px 64px;
}

dl {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  margin: 0;
}

dl > * {
  flex: 1 1 calc(50% - 16px);
}

dt,
dd {
  padding: 0 4px;
  line-height: 150%;
}

dt {
  background-color: beige;
  font-weight: bold;
}

dd {
  margin: 0;
  background-color: rgb(245, 245, 234);
}

dl > dd:nth-of-type(4) {
  color: #f04848;
  font-style: italic;
  font-weight: bold;
}

dl > dd.missing:nth-of-type(4) {
  color: #999;
}

button {
  background-color: green;
}