<h2>Top 5 Power Heroes</h2>

<main>
  <ng-container *ngIf="isLoading(); else heroesTemplate">
    <span class="loader"></span>
  </ng-container>
  <ng-template #heroesTemplate>
    <ng-container *ngFor="let hero of heroes()">
      <app-hero-card
        appHighlight
        [id]="hero.id"
        [name]="hero.name"
        [power]="hero.power"
        [alterEgo]="hero.alterEgo || ''"
        [rank]="hero.rank | rankName : rankOptions()"
        [description]="hero.description || ''"
      >
      </app-hero-card>
    </ng-container>
  </ng-template>
</main>
