<section>
  <button (click)="selectHero(undefined)">+ Create New Hero</button>

  <app-hero-details
    [hero]="selectedHero"
    (heroChange)="submit($event)"
    [rankOptions]="options"
  ></app-hero-details>
</section>

<section>
  <ng-container *ngIf="isLoading; else heroesTemplate">
    <span class="loader"></span>
  </ng-container>
  <ng-template #heroesTemplate>
    <app-hero-card
      *ngFor="let hero of heroes"
      [id]="hero.id"
      [name]="hero.name"
      [power]="hero.power"
      [alterEgo]="hero.alterEgo || ''"
      [rank]="hero.rank | rankName: options"
      [description]="hero.description || ''"
    />
  </ng-template>
</section>
