<header>
  <h2>All Heroes</h2>

  <section>
    <input
      type="text"
      placeholder="Search hero by name"
      ngModel
      (ngModelChange)="onSearchInput($event)"
    />
    <button (click)="goToDetails()">+ Create New Hero</button>
  </section>
</header>

<main>
  <ng-container *ngIf="isLoading; else heroesTemplate">
    <span class="loader"></span>
  </ng-container>
  <ng-template #heroesTemplate>
    <app-hero-card
      *ngFor="let hero of heroes"
      [id]="hero.id"
      [name]="hero.name"
      [power]="hero.power"
      [alterEgo]="hero.alterEgo || ''"
      [rank]="hero.rank | rankName : rankOptions()"
      [description]="hero.description || ''"
    >
      <ng-template>
        <a class="edit" (click)="goToDetails(hero)">Edit✎</a>
        <a class="delete" (click)="deleteHero(hero)">Delete 🗑</a>
      </ng-template>
    </app-hero-card>
  </ng-template>
</main>
